@model WebApp.Models.ConsultaModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Resources/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Resources/js/jquery-1.11.1.js"></script>
    <script src="~/Resources/js/bootstrap.js"></script>
    <script src="~/Resources/js/jquery.maskedinput.js"></script>
    <style type="text/css">
        .btnDefault {
            width: 85px;
        }
    </style>
    <script type="text/javascript">
        $(document).ready(function () {
            $("#CPF").mask("999.999.999-99");
        });
    </script>
</head>
<body>
    <div class="well">
        <div class="pager" style="margin: 0px;">
            <h4>Cadastro de Consulta</h4>
        </div>
        <br />

        @using (Html.BeginForm("Cadastrar", "Consulta", FormMethod.Post))
        {
            <div class="row">
                <div class="form-group col-md-2">
                    @Html.LabelFor(model => model.Id)
                    @Html.TextBoxFor(model => model.Id, new { @class = "form-control", @type = "number", @maxLength = 15 })
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-2">
                    @Html.LabelFor(model => model.ProfissionalId)
                    @Html.TextBoxFor(model => model.ProfissionalId, new { @class = "form-control", @type = "number", @maxLength = 15 })
                </div>
            </div>

            <div class="row">
                <div class="form-group col-md-2">
                    @Html.LabelFor(model => model.PacienteId)
                    @Html.TextBoxFor(model => model.PacienteId, new { @class = "form-control", @type = "number", @maxLength = 15 })
                </div>
            </div>

            <div class="form-inline">
                <div class="form-group" style="margin: 0 30px 15px 0;">
                    @Html.LabelFor(model => model.DataHora) <br />
                    @Html.TextBoxFor(model => model.DataHora, new { @class = "form-control", @type = "date" })
                </div>

                <div class="form-group" style="margin-bottom: 15px;">
                    @Html.LabelFor(model => model.Status) <br />
                    @Html.DropDownListFor(model => model.Status, new SelectList(Enum.GetValues(typeof(DAL.Model.StatusConsultaEnum))), null, new { @class = "form-control" })
                </div>
            </div>

            <br />
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="pager" style="margin: 0px;">
                        <input type="submit" value="Gravar" class="btn btn-primary btnDefault" /> |
                        @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default btnDefault" })
                    </div>
                </div>
            </div>

            <div style="color: red; ">
                @Html.ValidationSummary()
            </div>

            String mensagem = ViewBag.Mensagem;

            if (mensagem != null)
            {
                if (!mensagem.Contains("Erro"))
                {
                    <div class="alert alert-info">
                        @ViewBag.Mensagem
                    </div>
                }
                else
                {
                    <div class="alert alert-danger">
                        @ViewBag.Mensagem
                    </div>
                }
            }
        }
    </div>
</body>
</html>
