@model IEnumerable<WebApp.Models.ConsultaModel>

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Resources/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Resources/js/jquery-1.11.1.js"></script>
    <script src="~/Resources/js/bootstrap.js"></script>
    <script src="~/Resources/js/jquery.maskedinput.js"></script>
    <style type="text/css">
        .btnDefault {
            width: 30px;
        }
    </style>
</head>

<body>
    <div class="well">
        <div class="pager" style="margin: 0px;">
            <h4>Listagem de pacientes</h4>
        </div>
        @Html.ActionLink("Criar Novo", "Cadastrar", null, new { @class = "btn btn-primary" })
        <br />
        <br />
        @if (Model.Count() > 0)
        {
            <table class="table table-bordered table-condensed table-responsive">
                <thead>
                    <tr>
                        <th width="15%" class="pager">@Html.DisplayNameFor(model => model.Id)</th>
                        <th width="17.5%" class="pager">Profissional</th>
                        <th width="17.5%" class="pager">Paciente</th>
                        <th width="17.5%" class="pager">@Html.DisplayNameFor(model => model.DataHora)</th>
                        <th width="17.5%" class="pager">@Html.DisplayNameFor(model => model.Status)</th>
                        <th width="15%" class="pager">Ações</th>
                    </tr>
                </thead>
                <tbody>
                    @foreach (var item in Model)
                    {
                        <tr>
                            <td>
                                @Html.DisplayFor(modelItem => item.Id)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.ProfissionalId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.PacienteId)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.DataHora)
                            </td>
                            <td>
                                @Html.DisplayFor(modelItem => item.Status)
                            </td>
                            <td class=".col-md-4">
                                @Html.ActionLink(" ", "Detalhar", new { id = item.Id }, new { @class = "btn btn-xs btn-info btnDefault glyphicon glyphicon-list" })
                                @Html.ActionLink(" ", "Editar", new { id = item.Id }, new { @class = "btn btn-xs btn-success btnDefault glyphicon glyphicon-pencil" })
                                @Html.ActionLink(" ", "Excluir", new { id = item.Id }, new { @class = "btn btn-xs btn-danger btnDefault glyphicon glyphicon-remove" })
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        }
        else
        {
            <div class="alert alert-warning" role="alert">Nenhum paciente encontrado na base de dados</div>
        }
        @{
            String mensagem = Convert.ToString(Session["Mensagem"]);

            if (!String.IsNullOrWhiteSpace(mensagem))
            {
                if (!mensagem.Contains("Erro"))
                {
                    <div class="alert alert-info">
                        @mensagem
                    </div>
                }
                else
                {
                    <div class="alert alert-danger">
                        @mensagem
                    </div>
                }
            }
        }
    </div>
</body>
</html>