<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Cadastro de paciente</title>
    <link href="~/Resources/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Resources/js/jquery-1.11.1.js"></script>
    <script src="~/Resources/js/bootstrap.js"></script>
    <style type="text/css">
        body {
            padding-top: 70px;
        }
    </style>
</head>
<body>
    <div class="well container" id="teste">
        @Html.ActionLink("Incluir", "Limpar", "Paciente", new { @class = "btn btn-info" })
        <br /><br />

        @model WebApp.Models.PacienteModel

        @using (Html.BeginForm("CadastrarPaciente", "Paciente", FormMethod.Post))
        {
            <div class="form-group">
                @Html.LabelFor(p => p.Codigo)
                <div class="row">
                    <div class="col-md-4">
                        <div class="input-group">
                            @Html.TextBoxFor(p => p.Codigo, new { @required = "false", @class = "form-control", @id = "txtCodigo", @type = "number" })
                            <span class="input-group-btn">
                                <input type="submit" name="Command" value="Buscar" width="60" class="btn btn-success" />
                            </span>
                        </div>
                    </div>
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(p => p.Descricao)
                @Html.TextBoxFor(p => p.Descricao, new { @maxLength = 60, @size = 60, @class = "form-control" })
            </div>

            <div class="form-group">
                @Html.LabelFor(p => p.DataNascimento)
                @Html.TextBoxFor(p => p.DataNascimento, new { @class = "form-control" })
            </div>

            <div class="form-group">
                <label>Documento</label>
                <input type="submit" name="Command" value="Buscar documento" width="60" class="btn btn-success" />
                <iframe src="/Paciente/Documento" width="99%" height="1000"></iframe>
            </div>

            <input type="submit" name="Command" value="Gravar" width="60" class="btn btn-primary" data-loading-text="Loading..." />

            <input type="submit" name="Command" value="Excluir" width="60" class="btn btn-danger" />

            <div style="color: red">
                @Html.ValidationSummary()
            </div>

            @ViewBag.Mensagem
        }
    </div>
</body>
</html>
