@model WebApp.Models.PacienteModel

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="~/Resources/css/bootstrap.css" rel="stylesheet" />
    <script src="~/Resources/js/jquery-1.11.1.js"></script>
    <script src="~/Resources/js/bootstrap.js"></script>
    <script src="~/Resources/js/jquery.maskedinput.js"></script>
    <style type="text/css">
        .btnDefault {
            width: 85px;
        }
    </style>
</head>

<body>
    <div class="well">
        <div class="pager" style="margin: 0px;">
            <h4>Cadastro de Paciente</h4>
        </div>
        <h4>Deseja realmente excluir o este registro?</h4>
        <br />
        @*<fieldset>
            <legend>Paciente</legend>*@

            <div class="form-inline">
                @Html.LabelFor(model => model.Codigo, new { @class = "control-label col-sm-3" }):
                @Html.DisplayFor(model => model.Codigo, new { @class = "form-control" })
            </div>
            <div class="form-inline">
                @Html.LabelFor(model => model.Nome, new { @class = "control-label col-sm-3" }):
                @Html.DisplayFor(model => model.Nome)
            </div>
            <div class="form-inline">
                @Html.LabelFor(model => model.DataNascimento, new { @class = "control-label col-sm-3" }):
                @Html.DisplayFor(model => model.DataNascimento)
            </div>
            <div class="form-inline">
                @Html.LabelFor(model => model.CPF, new { @class = "control-label col-sm-3" }):
                @Html.DisplayFor(model => model.CPF)
            </div>
            <div class="form-inline">
                @Html.LabelFor(model => model.Email, new { @class = "control-label col-sm-3" }):
                @Html.DisplayFor(model => model.Email)
            </div>
        @*</fieldset>*@

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            
            <br />
            <div class="panel panel-default">
                <div class="panel-body">
                    <div class="pager" style="margin: 0px;">
                        <input type="submit" value="Excluir" class="btn btn-danger btnDefault" /> |
                        @Html.ActionLink("Voltar", "Index", null, new { @class = "btn btn-default btnDefault" })
                    </div>
                </div>
            </div>
        }
    </div>
</body>
</html>

